<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap" rel="stylesheet">
			<link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<div class="sidebar">
			<span class="section-title">Jose's Notes</span>
				<span class="section-header">Main Links</span>
	    		<ul>
	        		<a href="/" id="home"><li>Home</li></a>
	    		</ul>
				<span class="section-header">Semester 4</span>
			</div>
			<div class="main">
				<div class="container">
				
				{{ content }}
				
				</div><!-- /.container -->
				<footer>
					<ul>
						<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
						<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
					</ul>
				</footer>
			</div>
		</body>
	</html>
